## FEATURE ENCODING TECHNIQUES

## LABEL ENCODING

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    "Color":["red","green","blue","red","green"],
    "size":["small","medium","large","medium","small"],
    "city":["hyderabad","delhi","mumbai","delhi","chennai"],
    "target":[10,20,15,25,12]
})
df

   Color    size       city  target
0    red   small  hyderabad      10
1  green  medium      delhi      20
2   blue   large     mumbai      15
3    red  medium      delhi      25
4  green   small    chennai      12

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df["Color_Label"]=LabelEncoder().fit_transform(df["Color"])
df[["Color","Color_Label"]]

   Color  Color_Label
0    red            2
1  green            1
2   blue            0
3    red            2
4  green            1

## ONEHOT ENCODING

In [5]:
one_hot=pd.get_dummies(df["Color"],prefix="Color")
one_hot

   Color_blue  Color_green  Color_red
0       False        False       True
1       False         True      False
2        True        False      False
3       False        False       True
4       False         True      False

In [6]:
ohe=pd.get_dummies(df,columns=["Color"])
print(ohe)

     size       city  target  Color_Label  Color_blue  Color_green  Color_red
0   small  hyderabad      10            2       False        False       True
1  medium      delhi      20            1       False         True      False
2   large     mumbai      15            0        True        False      False
3  medium      delhi      25            2       False        False       True
4   small    chennai      12            1       False         True      False

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
encoder=OneHotEncoder(sparse_output=False)
encoded=encoder.fit_transform(df[["city"]])
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out(["city"]))

In [9]:
encoded_df

   city_chennai  city_delhi  city_hyderabad  city_mumbai
0           0.0         0.0             1.0          0.0
1           0.0         1.0             0.0          0.0
2           0.0         0.0             0.0          1.0
3           0.0         1.0             0.0          0.0
4           1.0         0.0             0.0          0.0

## ORDINAL ENCODING

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
order=[["small", "medium", "large"]]
df["size_Ordinal"]=OrdinalEncoder(categories=order).fit_transform(df[["size"]])
df[["size", "size_Ordinal"]]

     size  size_Ordinal
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0

## TARGET ENCODING

In [12]:
te=df.groupby("city")["target"].mean()

df["city_target_Enc"]=df["city"].map(te)
df[["city", "city_target_Enc"]]

        city  city_target_Enc
0  hyderabad             10.0
1      delhi             22.5
2     mumbai             15.0
3      delhi             22.5
4    chennai             12.0

## FREQUENCY ENCODING

In [13]:
freq=df["city"].value_counts()
df["city_Freq_Enc"]=df["city"].map(freq)
df[["city","city_Freq_Enc"]]

        city  city_Freq_Enc
0  hyderabad              1
1      delhi              2
2     mumbai              1
3      delhi              2
4    chennai              1

## BINARY ENCODING

In [14]:
import category_encoders as ce

In [15]:
data_binary=ce.BinaryEncoder(cols=["city"]).fit_transform(df["city"])

In [16]:
data_binary

   city_0  city_1  city_2
0       0       0       1
1       0       1       0
2       0       1       1
3       0       1       0
4       1       0       0